.layout {
    min-height: 100vh;
    background-color: var(--light);
}

.layout-content {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 32px;
    max-width: calc(100vw - 250px);
}

@media (max-width: 768px) {
    .layout-content {
        flex-direction: column;
    }

    .main-content {
        max-width: 100vw;
        padding: 16px;
    }
}