.layout {
    min-height: 100vh;
    background-color: var(--light);
}

.main-content {
    padding: 32px;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main-content {
        padding: 16px;
    }
}